* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #0a051e;
  /* background: #3b0e68;
  background: radial-gradient(circle, #3b0e68 0%, #1a084e 100%); */
}

/* .body {
  font-family: 'Arial', 'Helvetica', sans-serif;
} */